
###########################################################################################################
# Configuration parameters for connecting to the MySQL database
###########################################################################################################

# Machine name where the database is running
DBSRV = 'localhost'


# NOTE: by default ~/.my.cnf is used to obtain MySQL login credentials
# Alternatively, login & password can be specified explicitly:
# DBUSER = '.....'
# DBPASS = '.....'

# Default database name (e.g. used to store certain settings)
DB='datasetindex'

# Command to invoke the MySQL prompt
mysqlcommand = 'mysql'

# Command to invoke python
pythoncommand = 'python'


###########################################################################################################
# Server side file structure location
#########################################################################################################
# Root directory of the server side file structure
BASEDIR = '.....'

SOURCEDATADIR = '.....'
