
###########################################################################################################
#
# Configuration parameters for connecting to the MySQL database
#
###########################################################################################################

# Machine name where the database is running
DBSRV = 'localhost'


# NOTE: by default ~/.my.cnf is used to obtain MySQL login credentials
# Alternatively, login & password can be specified explicitly:
# DBUSER = '.....'
# DBPASS = '.....'

# Default database name (e.g. used to store certain settings)
DB='datasetindex'

# Command to invoke the MySQL prompt
mysqlcommand = 'mysql'

# Command to invoke python
pythoncommand = 'python'


###########################################################################################################
#
# Server side file structure location
# *** NOTE: these have to be specified as absolute paths! ***
#
#########################################################################################################

# Root directory of the server side file structure
BASEDIR = '.....'

# Root directory of the source data file structure
SOURCEDATADIR = '.....'


# Specify location of the file containing the authorisation info
# AUTHORISATIONFILE = '.....'


#The URL of your CAS server - if this is set then CAS will be enabled
# e.g. https://mydomain/cas
CAS_SERVICE = ''
#This is the CAS protocol version versions 2 and 3 supported (3 is only available in CAS 4)
CAS_VERSION = 3
#A URL to use as the link to logout
CAS_LOGOUT_PAGE = '/logout'
#Where to go when you've logged out - will send you to the entry page if not set
CAS_LOGOUT_DESTINATION = ''
#A page to show if validation fails
CAS_FAILURE_PAGE = None

